body{
    background-image: url(images/d.png);
    font-family: 'Otomanopee One', sans-serif;
    margin:0px;
    
}

h1{
    font-size: 40px;
}

.orange-color{
    color: rgb(173, 114, 4);
}

.green-color{
    color: rgb(3, 141, 3);
}

.link-decor{
    text-decoration: none;
    color:white;
    padding: 10px 30px;
    border-radius: 15px;
    background-image: linear-gradient(rgba(114, 233, 114, 0.87),rgb(7, 94, 7));
    margin-top: 50px;

}
.flexible{
    display: flex;
    margin-bottom: 75px;
}
.half-width{
    width: 50%;
    margin-left: 4%;
    margin-right: 4%;
}
.half-width img{
    width:100%
}

.top-bg-image{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
    

}

.middle-bg-image{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
 
}

.bottom-bg-image{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

p{
    text-align: justify;
}

.left-margin{
    margin-left: 2%;
}

#s-effect1{
    border-left: 10px solid;
    border-radius: 10px;
    padding:10px;
    box-shadow: 10px 10px 30px;
    border-image: linear-gradient(green,blue) 30;
    
}

#s-effect2{
    border-left: 10px solid;
    border-radius: 10px;
    padding:10px;
    box-shadow: 10px 10px 30px;
    border-image: linear-gradient(#035e17, #4b94f3) 30;
}
.align p{
    text-align: center;
    color:red;
}